[defaults]
log_path            = ./logs/run.log
inventory           = inventory/hosts.yaml
roles_path          = roles
host_key_checking   = False
retry_files_enabled = False
deprecation_warnings= False
interpreter_python  = auto_silent
vars_plugins_enabled= host_group_vars,community.sops.sops

[community.sops]
# sops binary is expected on PATH; override with sops_binary if needed
